/* Globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
}

.App {
  text-align: center;
  margin-top: 1em;
  font-family: Arial;
}

/* AddJoke component */
.addJokeButton {
  background-color: #2e2e2e;
  border-radius: 29px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  padding: 6px 33px;
  text-decoration: none;
  border: none;
}

/* Jokes component */
.Jokes {
  margin: 2em 3em;
}

.Joke {
  text-align: left;
  padding: 1em;
  margin: 1em;
  margin-left: 0;
  border: 0.1em solid rgb(211, 211, 211);
  transition: 0.1s;

  display: flex;
  justify-content: space-between;
}

.Joke:hover {
  border: 0.1em solid black;
}

.Joke .Value {
  width: 65%;
}

.RemoveJoke::before {
  content: "Remove ";
}

.RemoveJoke {
  cursor: pointer;
  color: rgb(223, 0, 0);
}

.Removed {
  text-decoration-line: line-through;
  opacity: 0.3;
}

.Removed > .RemoveJoke::before {
  content: "Recover ";
}
